@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;500;600&display=swap');
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 2.76rem;
}
.container>*{
    border: 2px;
    border-radius: 5px;
    padding: 1rem;
}
.container{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 'a' 'b' 'c' 'd' 'e';
    gap: 1rem;
    padding: 1rem;
    background-color: #ecf2f8;
}

.section-1{
    grid-area: a;
    color: #fff;
    background-image: url(/images/quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 2rem;
    background-color: #7541c8; 
}
.section-2{
    grid-area: b;
    color: #fff;
    background-color: #48556a;
}
.section-3{
    grid-area: c;
    background-color: #fff;
}
.section-4{
    grid-area: d;
    color: #fff;
    background-color: #19212e;
}
.section-5{
    grid-area: e;
    color: #000;
    background-color: #fff;
}
img {
    width: 2rem;
    border-radius: 50px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.profile-name{
    display: block;
}
h2{
    font-size: 1.5rem;
    padding: 1rem;
}
h6 {
    font-size: 12px;
    opacity: 50%;
}
p{
    font-size: 13px;
    opacity: 50%;
    width: 80%;
}
@media screen and (min-width: 33em) {
    .container {
        grid-template-areas: "a a" "b c" "e e" "d d";
    }
}

@media screen and (min-width: 38em) {
    .container {
        grid-template-areas: 'a a' 'b e' 'c e' 'd d';
    }
}

@media screen and (min-width: 54em) {
    .container {
        grid-template-areas: "a a b" "e e e" "c d d";
    }
}

@media screen and (min-width: 75em) {
    .container {
        grid-template-areas: "a a b e" "c d d e";
    }
}
